@import url("config.css");
@import url("meta-colors.css");

:root {

  /* Primary */
  --primary0: hsl(var(--primary0-h), var(--primary0-s), var(--primary0-l));
  --primary50: hsl(var(--primary50-h), var(--primary50-s), var(--primary50-l));
  --primary100: hsl(var(--primary100-h), var(--primary100-s), var(--primary100-l));
  --primary200: hsl(var(--primary200-h), var(--primary200-s), var(--primary200-l));
  --primary300: hsl(var(--primary300-h), var(--primary300-s), var(--primary300-l));
  --primary400: hsl(var(--primary400-h), var(--primary400-s), var(--primary400-l));
  --primary500: hsl(var(--primary500-h), var(--primary500-s), var(--primary500-l));
  --primary600: hsl(var(--primary600-h), var(--primary600-s), var(--primary600-l));
  --primary700: hsl(var(--primary700-h), var(--primary700-s), var(--primary700-l));
  --primary800: hsl(var(--primary800-h), var(--primary800-s), var(--primary800-l));
  --primary900: hsl(var(--primary900-h), var(--primary900-s), var(--primary900-l));
  --primary950: hsl(var(--primary950-h), var(--primary950-s), var(--primary950-l));
  --primary1000: hsl(var(--primary1000-h), var(--primary1000-s), var(--primary1000-l));

  /* Black and white */
  --bnw0: hsl(var(--bnw0-h), var(--bnw0-s), var(--bnw0-l));
  --bnw50: hsl(var(--bnw50-h), var(--bnw50-s), var(--bnw50-l));
  --bnw100: hsl(var(--bnw100-h), var(--bnw100-s), var(--bnw100-l));
  --bnw200: hsl(var(--bnw200-h), var(--bnw200-s), var(--bnw200-l));
  --bnw300: hsl(var(--bnw300-h), var(--bnw300-s), var(--bnw300-l));
  --bnw400: hsl(var(--bnw400-h), var(--bnw400-s), var(--bnw400-l));
  --bnw500: hsl(var(--bnw500-h), var(--bnw500-s), var(--bnw500-l));
  --bnw600: hsl(var(--bnw600-h), var(--bnw600-s), var(--bnw600-l));
  --bnw700: hsl(var(--bnw700-h), var(--bnw700-s), var(--bnw700-l));
  --bnw800: hsl(var(--bnw800-h), var(--bnw800-s), var(--bnw800-l));
  --bnw900: hsl(var(--bnw900-h), var(--bnw900-s), var(--bnw900-l));
  --bnw950: hsl(var(--bnw950-h), var(--bnw950-s), var(--bnw950-l));
  --bnw1000: hsl(var(--bnw1000-h), var(--bnw1000-s), var(--bnw1000-l));
}
