:root {

  /* Anatomy parameters */

  --mlvl: 3; /* Main level */
  --alvl: 3; /* Air level */
  --clvl: 3; /* Component level */
  --elvl: 3; /* Element level */


  /* Style parameters */

  --rlvl: 2; /* Round level */
  --blvl: 2; /* Border level */


  /* Colors */

  --primary-color-h: 252; /* Primary hue */
  --primary-color-s: 92%; /*Primary saturation */
  --primary-color-l: 47%; /*Primary lightness */

  --bnw-color-h: 247; /* bnw hue */
  --bnw-color-s: 7%; /*bnw saturation */
  --bnw-color-l: 48%; /*bnw lightness */

}
